.color-dots {
	display: flex;
}
.color-dots > div {
	width: 30px;
	height: 30px;
	background-color: gray;
	border-radius: 50%;
	margin: 20px;
}
.dot-1 {
	animation: Dot 2s forwards linear infinite;
}
.dot-2 {
	animation: Dot 2s forwards 0.5s linear infinite;
}
.dot-3 {
	animation: Dot 2s forwards 1s linear infinite;
}
@keyframes Dot {
	10% {
		background-color: cyan;
	}
	40% {
		background-color: gray;
	}
}
