#card-grid {
	width: 100%;
	display: grid;
	justify-content: center;
	align-items: center;
	height: 93.5vh;
	padding: 4rem 7rem;
	gap: 0.5rem;
}
.timer {
	width: 100%;
	height: 1vh;
	background: chartreuse;
	transition: width 0.4s linear;
}
.Easy {
	grid-template-columns: repeat(4, 20%);
}
.Medium,
.Hard {
	grid-template-columns: repeat(6, 13%);
}
.popup-container .window {
	height: unset;
}
.cancel {
	position: unset;
}
@media only screen and (max-width: 425px) {
	#card-grid.Easy {
		grid-template-columns: repeat(4, 55%);
	}
	#card-grid .card {
		font-size: 1rem;
	}
}
@media only screen and (max-height: 425px) {
	#card-grid {
		padding: 2rem 4rem;
	}
}
@media only screen and (min-width: 426px) and (min-height: 1024px) and (max-width: 1024px) {
	#card-grid.Easy {
		grid-template-columns: repeat(4, 30%);
	}
	#card-grid .card {
		font-size: 2rem;
	}
}
