.landing-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 90vh;
}
.landing-container button {
	width: 5%;
	height: 5vmin;
	margin: 1rem;
}
