:root {
	--transition-time: 0.3s;
}
a {
	color: #2c9de8;
	text-decoration: none;
	padding: 0.25rem 1rem;
	margin: 0.5rem 1rem;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
}
a::before,
a::after {
	content: "";
	width: 100%;
	background: #2c9de8;
	height: 3px;
	transform: translateX(-155%);
	transition: transform var(--transition-time) ease;
}
a::after {
	transform: translateX(155%);
}
a:hover::before,
a:hover::after {
	transform: translateX(0);
}
a:hover {
	color: #333;
	background: #ccc;
}
a:active {
	background: #999;
}
